<h1> Studios </h1>

<% @studios.each do |studio| %>
  <div id="studio-<%= studio.id %>">
    <h2> Studio Name: <%= studio.name %> </h2>
    <p> Location: <%= studio.location %> </p>
    <h3> Movies </h3>
    <% studio.movies.each do |movie| %>
        <p> <%= movie.title %> </p>
    <% end %>
  </div>
<% end %>
